app = "dd-mm-yyyy"
primary_region = "iad"

[build]
    dockerfile = "Dockerfile"

[[services]]
    internal_port = 8080
    force_https = true
    auto_stop_machines = false
    auto_start_machines = true
    min_machines_running = 1

    [[services.ports]]
        handlers = ["http"]
        port = 80

    [[services.ports]]
        handlers = ["tls", "http"]
        port = 443

        [services.ports.http_options.response.headers]
            Content-Security-Policy = "default-src 'none'; style-src 'unsafe-inline'; frame-ancestors 'none'"
            X-Frame-Options = "DENY"
            Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
            X-Content-Type-Options = "nosniff"
            Content-Type = "text/html"
